@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
html,
body {
	height: 100%;
	width: 100%;
}

body {
	font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

hr {
	border-color: black;
	border-width: 3px;
}

hr.light {
	border-color: white;
}

a {
	-webkit-transition: all 0.35s;
	-moz-transition: all 0.35s;
	transition: all 0.35s;
	color: cornflowerblue;
}

.white {
	color: white;
}

.large {
	font-size: 18px;
}

a:hover,
a:focus {
	text-decoration: underline;
}

i:hover {
	color: #808080;
}

.center {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

p {
	font-size: 16px;
	line-height: 1.5;
	margin-bottom: 20px;
}

.shadow {
	text-shadow: 2px 4px 4px #000000;
}

.bg-primary {
	background-color: #F05F40;
}

.bg-dark {
	background-color: #222222;
	color: white;
}

.text-faded {
	color: rgba(255, 255, 255, 0.7);
}

section {
	padding: 100px 0;
}

aside {
	padding: 50px 0;
}

.no-padding {
	padding: 0;
}

.navbar-default {
	background-color: rgba(0, 0, 0, 0.8);
	border-color: rgba(34, 34, 34, 0.05);
	font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
	-webkit-transition: all 0.35s;
	-moz-transition: all 0.35s;
	transition: all 0.35s;
}

.navbar-default .navbar-header .navbar-brand {
	color: #fff;
	font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
	text-decoration: underline;
}

.navbar-default .navbar-header .navbar-toggle {
	font-weight: 700;
	font-size: 12px;
	color: #fff;
	text-transform: uppercase;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
	background-color: transparent;
}

.navbar-default .nav>li>a,
.navbar-default .nav>li>a:focus {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
	color: #fff;
}

.navbar-default .nav>li>a:hover,
.navbar-default .nav>li>a:focus:hover {
	color: #fff;
	text-decoration: underline;
}

.navbar-default .nav>li.active>a,
.navbar-default .nav>li.active>a:focus {
	color: #fff;
	background-color: transparent;
}

.navbar-default .nav>li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
	background-color: transparent;
}

@media (min-width: 768px) {
	.navbar-default {
		background-color: rgba(0, 0, 0, 0.4);
	}
	.navbar-default .navbar-header .navbar-brand {
		color: rgba(255, 255, 255, 1);
	}
	.navbar-default .navbar-header .navbar-brand:hover,
	.navbar-default .navbar-header .navbar-brand:focus {
		text-decoration: underline;
	}
	.navbar-default .nav>li>a,
	.navbar-default .nav>li>a:focus {
		color: rgba(255, 255, 255, 1);
	}
	.navbar-default .nav>li>a:hover,
	.navbar-default .nav>li>a:focus:hover {
		text-decoration: underline;
	}
	.navbar-default.affix {
		background-color: rgba(0, 0, 0, 0.6);
		border-color: rgba(34, 34, 34, 0.05);
	}
	.navbar-default.affix .navbar-header .navbar-brand {
		color: #fff;
	}
	.navbar-default.affix .navbar-header .navbar-brand:hover,
	.navbar-default.affix .navbar-header .navbar-brand:focus {
		text-decoration: underline;
	}
	.navbar-default.affix .nav>li>a,
	.navbar-default.affix .nav>li>a:focus {
		color: #fff;
	}
	.navbar-default.affix .nav>li>a:hover,
	.navbar-default.affix .nav>li>a:focus:hover {
		text-decoration: underline;
	}
}

header {
	position: relative;
	width: 100%;
	min-height: auto;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	background-position: center;
	text-align: center;
	color: white;
}

header .header-content {
	position: relative;
	text-align: center;
	padding: 100px 15px 100px;
	width: 100%;
}

header .header-content .header-content-inner h1 {
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 30px;
}

header .header-content .header-content-inner hr {
	margin: 30px auto;
}

header .header-content .header-content-inner p {
	font-weight: 300;
	color: rgba(255, 255, 255, 0.7);
	font-size: 16px;
	margin-bottom: 50px;
}

@media (min-width: 768px) {
	header {
		min-height: 100%;
	}
	header .header-content {
		position: absolute;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		padding: 0 50px;
	}
	header .header-content .header-content-inner {
		max-width: 1000px;
		margin-left: auto;
		margin-right: auto;
	}
	header .header-content .header-content-inner h1 {
		font-size: 50px;
	}
	header .header-content .header-content-inner p {
		font-size: 18px;
		max-width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
}

.section-heading {
	margin-top: 0;
}

.call-to-action h2 {
	margin: 0 auto 20px;
}

.text-primary {
	color: #fff;
}

.no-gutter>[class*='col-'] {
	padding-right: 0;
	padding-left: 0;
}


::-moz-selection {
	color: white;
	text-shadow: none;
	background: #222222;
}

::selection {
	color: white;
	text-shadow: none;
	background: #222222;
}

img::selection {
	color: white;
	background: transparent;
}

img::-moz-selection {
	color: white;
	background: transparent;
}

body {
	webkit-tap-highlight-color: #222222;
}

.floating-btn {
	z-index: 42;
	width: 6.5em;
	position: fixed;
	bottom: 1em;
	right: 1em;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	max-height: 100%;
	background-color: rgba(51, 122, 183, .6)
}
